/*
*{
    margin: 0;
    padding: 0;
}
*/

#title{
    border: solid black 3px;
}

#selection{
    border: black solid 3px;
	display: flex;
	/*flex-wrap: wrap; 
    makes the elements inside wrap*/
}

#option1{
    border: black solid 3px;
    padding: 20px 100px;
    margin: 10% auto;
    
}

#option2{
    border: black solid 3px;
    padding: 20px 100px;
    margin: 10% auto;
}

.element{ 
    border: dotted red 5px;
}